.reset-password {
    padding: 20px;
  }

  .reset-password h2 {
    margin-bottom: 10px;
  }

  .reset-password div {
    margin-bottom: 10px;
  }

  /* Styles pour le mode sombre */
  body.dark-mode .reset-password {
    background-color: #333;
    color: #fff;
  }
