.update-password {
    padding: 20px;
  }

  .update-password h2 {
    margin-bottom: 10px;
  }

  .update-password div {
    margin-bottom: 10px;
  }

  /* Styles pour le mode sombre */
  body.dark-mode .update-password {
    background-color: #333;
    color: #fff;
  }
